<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="base_layout">
<head>
    <title layout:fragment="title">Home</title>
</head>
<body>
<div layout:fragment="content">
    <nav role="navigation">
        <ul>
            <li th:if="${currentUser == null}"><a th:href="@{/login}">Log in</a></li>
            <li th:if="${currentUser}">
                <form th:action="@{/logout}" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <button type="submit">Log out</button>
                </form>
            </li>
            <!--/*li><a th:href="${'/user/' + currentUser.id}">View myself</a></li*/-->
            <th:block if="${currentUser and currentUser.role == 'ADMIN'}">
                <li><a th:href="@{/user/create}">Create a new user</a></li>
                <li><a th:href="@{/users}">View all users</a></li>
            </th:block>
        </ul>
    </nav>
</div>
</body>
</html>