<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="base_layout">
<!--/*@thymesVar id="_csrf" type="org.springframework.security.web.csrf.CsrfToken"*/-->
<!--/*@thymesVar id="form" type="de.nava.demo.domain.UserCreateForm"*/-->
<head>
    <title layout:fragment="title">Create a new user</title>
</head>
<body>
<div layout:fragment="content">

    <h1>Create a new user</h1>

    <form role="form" action="#" th:object="${form}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <div>
            <label for="email">Email address</label>
            <input type="email" id="email" th:field="*{email}" required="required" autofocus="autofocus"/>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error message</span>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" th:field="*{password}" required="required"/>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error message</span>
        </div>
        <div>
            <label for="passwordRepeated">Repeat</label>
            <input type="password" id="passwordRepeated" th:field="*{passwordRepeated}" required="required"/>
            <span th:if="${#fields.hasErrors('passwordRepeated')}" th:errors="*{passwordRepeated}">password error message</span>
        </div>
        <div>
            <label for="role">Role</label>
            <select id="role" th:field="*{role}" required="required">
                <option value="USER">USER</option>
                <option value="ADMIN">ADMIN</option>
            </select>
        </div>
        <button type="submit">Save</button>
    </form>

    <!-- ul th:if="${spring.status.error}">
        <li th:each="error : ${spring.status.errorMessages}" th:text="${error}"></li>
    </ul -->

</div>
</body>
</html>