<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="base_layout">
<!--/*@thymesVar id="users" type="java.util.List<de.nava.demo.domain.User>"*/-->
<head>
    <title layout:fragment="title">List of Users</title>
</head>
<body>
<div layout:fragment="content">

    <h1>List of Users</h1>

    <table>
        <thead>
            <tr>
                <th>E-mail</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            <#list users as user>
            <tr>
                <td><a href="/user/${user.id}">${user.email}</a></td>
                <td>${user.role}</td>
            </tr>
            </#list>
        </tbody>
    </table>

</div>
</body>
</html>